@import url("https://fonts.googleapis.com/css2?family=Inter:wght@700&family=Oswald:wght@400;600;700&display=swap");

* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  background-color: #2a79e0;
  font-family: "Oswald", sans-serif;
  margin: 0;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  overflow: hidden;
  width: 100%;
  position: relative;
}

header {
  display: flex;
  justify-content: end;
}

ul {
  display: flex;
  list-style: none;
  gap: 20px;
  color: #fff;
  font-family: "Inter", sans-serif;
  margin: 25px 25px 0 0;
  padding: 0;
  justify-content: end;
}

ul a {
  text-decoration: none;
  color: inherit;
  transition: 0.5s;
}

a:hover {
  color: #93b4df;
}

.burger {
  display: none;
  position: relative;
  width: 28px;
  height: 26px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  margin: 28px;
  /* z-index: 2; */
}

.burger span {
  position: absolute;
  left: 0;
  top: 11px;
  display: block;
  width: 28px;
  height: 4px;
  background-color: #ffffff;
  border-radius: 10px;
}

.burger span:nth-child(1) {
  transform: translateY(-11px);
}
.burger span:nth-child(3) {
  transform: translateY(11px);
}

/* Крестик */
header.open span{
  background-color: #2a79e0;
}
header.open span:nth-child(1) {
  transform: translateY(0px) rotate(45deg);
}
header.open span:nth-child(2) {
  opacity: 0;
}
header.open span:nth-child(3) {
  transform: translateY(0px) rotate(-45deg);
}
/*end Крестик */

main {
  max-width: 1200px;
  padding: 0 25px;
  margin: 0 auto;
  flex-grow: 1;
}

h1 {
  font-weight: 700;
  font-size: 96px;
  color: #ffffff;
  text-align: center;
  margin: 30px 0;
}

h3 {
  font-weight: 600;
  font-size: 24px;
  color: #f6d053;
  text-align: center;
  margin: 0;
}

h2 {
  font-weight: 700;
  font-size: 40px;
  line-height: 59px;
  color: #ffffff;
  margin: 30px 0 70px;
  width: 230px;
}

p {
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  text-align: right;
  color: #f6d052;
  /* width: 280px; */
  margin: 0 0 0 auto;
}

footer {
  margin-top: 85px;
  position: relative;
  height: 212px;
}

.card {
  background-color: #ffffff;
  width: 180px;
  height: 49px;
  margin-left: 20px;
  text-align: center;
  line-height: 45px;
}

.card a {
  font-weight: 600;
  font-size: 20px;
  color: #2a79e0;
  text-decoration: none;
  transition: 0.5s;
}

.card a:hover {
  color: #93b4df;
}

.card-clip {
  margin-top: 12px;
  clip-path: polygon(0% 100%, 0% 0%, 100% 0%, 111px 100%);
}

.footer__bg {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  z-index: -1;
  background: url(../img/bg_footer.png) no-repeat center/cover;
  clip-path: polygon(0% 100%, 300px 0%, 100% 0%, 100% 100%);
}

@media (max-width: 600px) {
  .burger {
    display: block;
  }
  nav {
    position: absolute;
    right: -210px;
    visibility: hidden;
  }
  ul {
    flex-direction: column;
    background-color: #ffffff;
    color: #2a79e0;
    padding: 29px 39px 16px 15px;
    border-radius: 10px 0 10px 10px;
  }
  header.open nav{
    transform: translateX(-100%);
    visibility: visible;
  }
}